*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    color: black;
    background: #fafafa;
}

section {
    height: auto;
    padding: 10px 0;
}

/* MAIN PAGE */
.main_content{
    margin-left: 250px;
    padding-top: 5%;
    padding-right: 8%;
    padding-left: 8%;
}

/* LAYOUT */
.column {
    flex: 50%;
}

.column .right{
    margin-left: 30px;
}

.row {
    display: flex;
}

/* SIDEBAR  */
.sidebar{
    background: white;
    font-family: 'Maven Pro', sans-serif;
    line-height: 2;
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 30px 30px;
    transition: all 0.5s ease;  
    display: flex;
    flex-direction: column;
}

.sidebar li a:hover{
    font-weight: bold;
    color: darkcyan;
}

/* DOWNLOAD RESUME BUTTON (inside sidebar) */
.button{
    background: black;
    color: white;
    padding: 8px 30px;
    margin-top: 20px;
    transition: all 0.3s ease;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.button:hover{
    background: darkcyan;
    box-shadow: 0 4px 10px 0 darkcyan;
    color: white;
}

/* PROFILE IMAGE */
.profile{
    margin-top: 30px;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

/* NAME */
.intro-name{
    font-size: 45px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.intro-name:hover{
    color: darkcyan;
}

#about-me {
    margin-bottom: 20px;
}

/* CURRENT OCCUPATION */
.current {
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif;
    color: gray;
    font-weight: 100;
}

/* INTRO PARA, PROJECT DESCRIPTION */
.roboto {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: 100;
}

/* SOCIAL ICONS */
.connect ul img{
    margin-top: 10px;
    text-align: center;
    height: 35px;
    width: 35px;
}

.connect ul img:hover{
    filter: invert(38%) sepia(99%) saturate(539%) hue-rotate(135deg) brightness(90%) contrast(103%);
}

/* SUBTITLES like resume, projects */
.subtitle {
    font-family:'Maven Pro', sans-serif;
    font-size:25px;
    font-weight:100;
    margin:0;
    margin-top:20px;
}

/* skills, experience, education, achivement titles */
.resume h2 {
    margin-top: 40px;
}

/* LISTING INSIDE skills, experience, education, achivement */
.resume li {
    font-family: 'Roboto', sans-serif;
    margin-top: 7px;
    font-size: 18px;
    margin-left: 10px;
    align-items: left;
    line-height: 1.5;
    font-weight: 200;
}

/* PROJECT PREVIEW CARD */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 10px 22px 0 darkcyan;
}

.container {
    padding: 10px 16px;
}

.project-pic {
    max-width: 100%;
    border-radius: 10px;
}

.card p {
    text-align: justify;
    margin: 0;
    margin-right: 15px;
}

.alignimg {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    align-items: center;
}

.projectrow {
    display: flex;
}

.card .button{
    margin: 10px;
}

.card .button:hover{
    background: darkcyan;
    color: white;
}


a:link{
    color: black;
}

a:visited{
    color: black;
}

.spacer {
    flex-grow: 1;
}

footer {
    height: 250px;
}

/* MODIFIACTIONS FOR MOBILE AND TABLET VIEW */
@media only screen and (max-width: 1100px){

    .row{
        flex-direction: column;
    }

    .main_content{
        margin-left: 0;
    }

    .handburger{
        background-color: transparent;
        display: block;
        padding: 25px;
        border: none;
        position: fixed;
        font-size: 25px;
        top: 0;
    }

    .sidebar{
        display: none;
    }

    .sidebar{
        width: 60%;
        align-items: center;
        font-size: 40px;
    }

    .button{
        font-size: 50px;
    }

    .sidebar ul{
        margin-top: 70px;
    }

    .subsection p {
        font-size:40px;
    }

    p {
        font-size: 15px;
    }

    .resume li {
        font-size: 15px;
    }

    .connect ul img{
        margin-top: 10px;
        height: 55px;
        width: 55px;
    }

    .subtitle {
        font-size: 50px;
    }

    .projectrow p{
        font-size: 15px;
    }
}